@page "{id?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_EditLayout";
}
@model EmployeePortal.TimeRegistration.Pages.Timesheet.Edit_Model
<h1>Edit timesheet</h1>
@section EditForm{
    <table>
        <tr>
            <td>Uren</td>
            <td>Omschrijving</td>
        </tr>
        @{
            foreach (var hl in Model.TimeSheet.HourLines)
            {
                <tr>
                    <td>
                        <input id="hours_@hl.Id" value="@hl.Hours" />
                    </td>
                    <td>
                        <input id="description_@hl.Id" value="@hl.Description" />
                    </td>
                    <td>
                        <form asp-page-handler="delete" method="post">
                            <input type="hidden" name="hourLineId" value="@hl.Id" />
                            <button>X</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
}
