@model EmployeePortal.Infrastructure.RequestHandling.RequestPageModel
@{
    Layout = "~/Application/Shared/_Layout.cshtml";
}
<h1>@Model.PageTitle</h1>
@{
    if (Model.Errors.Any())
    {
        <ul>
            @foreach (var e in Model.Errors)
            {
                <li>@e</li>
            }
        </ul>
    }
    else
    {
        @RenderSection("EditForm", required: false);
    }
}
@RenderSection("Scripts", required: false)