@page "{id?}"
@{
    Layout = "_Layout";
}
@model EmployeePortal.TimeRegistration.Application.Timesheet.EditModel
<h1>Edit timesheet</h1>
<input type="hidden" id="timesheetid" ref="timesheetid" value="@Model.TimeSheet.Id" />
<div id="timesheets-form-component">
    <table>
        <tr>
            <td>Uren</td>
            <td>Omschrijving</td>
        </tr>
        <tr v-for="t in timesheet.hourLines">
            <td>
                <input v-bind:id="'hours_' + t.id"
                       v-model="t.hours">
            </td>
            <td>
                <input v-bind:id="'description_' + t.id"
                       v-model="t.description">
                <button v-on:click="deleteHourline(t.id)">X</button>
            </td>
        </tr>
        <tr>
            <td><button v-on:click="addHourline()">+</button></td>
            <td><button v-on:click="saveHourlines()">SAVE</button></td>
        </tr>
    </table>
    <div v-if="isViewReady != true">
        <div>Loading data...</div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/TimeSheets/Edit.js"></script>
}