@page
@{
    Layout = "~/Application/Shared/_Layout.cshtml";
}
@model EmployeePortal.SkillManagement.Application.Skills.OverviewModel
<div id="overview"></div>
<div id="main"></div>
@section Scripts {
    <script src="Overview.js"></script>
    <script src="counter.js"></script>
    <script src="appje.js"></script>
    <script src="~/react/cjs/react.development.js"></script>
}
