@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.UserName</h1>
</div>
<ul>
    <li><a href="@Url.Page("TimeSheet/Overview")">Timesheets Overview</a></li>
    <li><a href="@Url.Page("Skills/Overview")">Skills Overview</a></li>
</ul>


